![](http://sigdelta.com/assets/images/sages-sd-logo.png)

# Analiza danych i uczenie maszynowe w Python

Autor notebooka: Jakub Nowacki.

## Movie Lens

[MovieLens](https://movielens.org/) to strona rekomendująca filmy na podstawie analizy danych z [IMDB](http://www.imdb.com/). Dane ze strony udostępnione są pod [tym adresem](http://grouplens.org/datasets/movielens/). Opis zbioru danych dostępny jest w pliku [README](http://files.grouplens.org/datasets/movielens/ml-latest-small-README.html). Poniższy kod pobiera dane.

In [ ]:
import urllib
import zipfile
import os
import pandas as pd

data_url = 'http://files.grouplens.org/datasets/movielens/ml-latest-small.zip'
data_file = data_url.split('/')[-1]
data_base = 'data'
data_dir = os.path.join(data_base, 'ml-latest-small')
data_dst = os.path.join(data_base, data_file)

os.makedirs(data_dir, exist_ok=True)

urllib.request.urlretrieve(data_url, filename=data_dst)

with zipfile.ZipFile(data_dst) as zip_file:
    zip_file.extractall(data_base)
    
os.listdir(data_dir)

In [2]:
import urllib
import zipfile
import os
import pandas as pd

data_base = 'data'
data_dir = os.path.join(data_base, 'ml-latest-small')

In [3]:
movies = pd.read_csv(os.path.join(data_dir, 'movies.csv'))
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_csv(os.path.join(data_dir, 'ratings.csv'))
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
tags = pd.read_csv(os.path.join(data_dir, 'tags.csv'))
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

## Zadania

* Znajdź wszystkie filmy z 1983 roku; ile ich jest?
* Jaka jest średnia ocena filmu całościowa i dla poszczególnych użytkowników? Ilu jest (unikalnych) użytkowników?  
* Jaki jest zakres i rozkład ocen? 
* Który film ma najwięcej tagów? Jakie one są? Co to za film?
* Znajdź 20 filmów z najwyższymi ocenami.
* ★ Znajdź ulubiony film (najlepiej oceniony) 20 najczęściej oceniających użytkowników.
* ★ Jaka jest średnia ocena dla każdej kategorii?

In [32]:
movies[['title', 'movieId']].head()
ratings.groupby('movieId').mean()
ratings.groupby('movieId')[['rating']]\
.mean()\
.sort_values('rating',ascending=False)\
.join(movies.set_index('movieId'))\
[['title','rating']]\
.head()

#ratings.groupby('movieId')['rating']\
#    .agg(['mean','count'])\
#    .sort_values(('rating','mean'))\
 #   .head()

                                                     title  rating
movieId
163949   The Beatles: Eight Days a Week - The Touring Y...     5.0
71180                                 Padre padrone (1977)     5.0
51471                                 Amazing Grace (2006)     5.0
52617         Woman on the Beach (Haebyeonui yeoin) (2006)     5.0
53887                                  O Lucky Man! (1973)     5.0

In [40]:
wyn=movies.head()

In [41]:
wyn.to_csv('movie_title.csv')

In [43]:
wyn.to_csv('movie_title.txt')

In [49]:
wyn.to_word('movie_title.doc')

AttributeError: 'DataFrame' object has no attribute 'to_word'

In [47]:
wyn.to_csv('movie_title.xls')

In [48]:
wyn.to_excel('movie_title.xls')

In [ ]:
movies.to_sql()